// --Мин. ширина--
$minwidth: 320px;
// --

// --Цвета--

$red: #EB5757;
$black: #141429;
$white: #FFFF;

//--

// --Шрифты--
$roboto: 'Roboto', sans-serif;
$risque: 'Risque', cursive;
//--

// --Адаптивные точки--

//--
