//--Подключение файлов--
@import "vars";
@import "null";
@import "libs";
@import "fonts";
// --

// ==Стили==

// --Разметка--
.wrapper {
    min-height: 100%;
    overflow: hidden;
    background-color: $black;
}
.container {
    max-width: 1441px;
    padding: 0 49px;
    min-width: $minwidth;
    margin: 0 auto;
    z-index: 2;
}
//--

// --Основные стили--
body.lock{
    overflow: hidden;
}
.header{
    width: 100%;
    position: fixed;
    z-index: 100;
    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 43px;
    }
    &__logo{
        flex: 0 0 40%;
        &-link{

        }
        &-img{
            width: 198px;
        }
    }
    &__nav{
        &-list{
            display: flex;
        }
        &-item{
            padding-right: 35px;
        }
        &-link{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: $white;
            &:hover{
                transition: 0.5s all;
                color: $red;
            }
        }
    }
    &__burger{
            display: block;
            position: relative;
            width: 61px;
            height: 62px;
            background: no-repeat url(../img/burger-bg.png);
            cursor: pointer;
            transition: 1s all;
            & span{
                content: '';
                position: absolute;
                width: 50%;
                height: 3px;
                top: 30px;
                left: 25%;
                background-color: $white;
                z-index: 100;
                transition: 1s all;
            }
            &::before,&::after{
                content: '';
                transition: all .5s;
                background-color: #fffF;
                position: absolute;
                width: 50%;
                height: 3px;
                left: 25%;
                transition: 1s all;
                z-index: 3;
            }
            &::before{
                top: 20px;
                z-index: 3;
            }
            &::after{
                top: 40px;
                z-index: 3;
            }
            &.active span{
                transition: 1s all;
                transform: scale(0);
                z-index: 3;
            }
            &.active::before{
                transition: 1s all;
                top: 30px;
                transform: rotate(-45deg);
                z-index: 3;
            }
            &.active::after{
                transition: 1s all;
                top: 30px;
                transform: rotate(45deg);
                z-index: 3;
            }
            &-list{
                height: 100vh;
                width: 50%;
                top: 0;
                right: 0;
                position: fixed;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: #eb5757;
                z-index: 2;
                clip-path: circle(1000px at 160% -150%);
                transition: all 1s ease-out;
                visibility: hidden;
            }
            &-item{
                padding-bottom: 38px;
            }
            &-link{
                font-family: $risque;
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                line-height: 37px;
                color: #FFFFFF;
            }
        }
    }
.main{
    width: 100%;
    padding-top: 180px;
    &__row{
        display: flex;
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: baseline; 
        padding-left: 100px;
        padding-right: 69px;
        padding-top: 25px;
        z-index: 2;
        
        &-head{
            font-family: $risque;
            font-style: normal;
            font-weight: normal;
            font-size: 72px;
            line-height: 83px;
            color: $white;
            margin: 0;
            padding-bottom: 20px;
        }
        &-text{
            font-family: $risque;
            font-style: normal;
            font-weight: normal;
            font-size: 38px;
            line-height: 44px;
            color: $white;
            padding-bottom: 27px;
        }
        &-link{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: $white;
            border: 2px solid $white;
            border-radius: 20px 20px 20px 0px;
            padding: 13px 41px;
            &:hover{
                transition: 0.5s all;
                background-color: $white;
                color: transparent;
            }
        }
    }
    &__replic{
        background: url(../img/cloud.png) no-repeat;
        margin-top: 162px;
        z-index: 2;
        &-text{
            font-family: $risque;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: black;    
            padding: 64px 50px;
        }
    }
    &__images{
        display: flex;
        align-items: center;
        z-index: 1;
        &-snow{
            max-width: 100%;
            animation-name: main-snow;
            padding-right: 259px;
            position: relative;
            top: -22rem;
            left: -3rem;
            z-index: 1;
        }
        &-claus{
            max-width: 100%;
            position: relative;
            right: 3rem;
            top: -22rem;
            z-index: 1;
        }
        &-link{
            max-width: 100%;
            position: relative;
            right: 83rem;
            top: -10rem;
            z-index: 1;
            transition: 1s all;
        }
        &-arrow{
            
        }
    }
}
.description{
    width: 100%;
    background: center no-repeat url(../img/description-bg.png);
    margin-top: -352px;
    margin-bottom: 191px;
    &__row{
        display: flex;
        padding-top: 189px;
        padding-bottom: 166px;
    }
    &__content{
        padding-left: 28px;
        padding-right: 75px;
        &-head{
            font-family: $risque;
            font-style: normal;
            font-weight: normal;
            font-size: 56px;
            line-height: 65px;
            color: $white;
            padding-bottom: 30px;
        }
        &-text{
            font-family: $risque;
            font-style: normal;
            font-weight: normal;
            font-size: 38px;
            line-height: 44px;
            color: $white;
            padding-bottom: 30px;
        }
        &-images{
            & img{
                border: 5px solid $white;
                border-radius: 100%;
                background-color: $white;
                margin-right: 35px;
                &:hover,
                &:active{
                    transition: 0.5s all;
                    background-color: transparent;
                    cursor: pointer;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
            &-sock{
                padding: 14px 44px 14px 36px;
            }
            &-cap{
                padding: 28px 10px 28px 16px;
            }
            &-bag{
                padding: 21px 20px 28px 34px;
            }        
        }
    }
    &__item{
        display: flex;
        align-items: center;
        border: 3px solid $white;
        border-radius: 20px;
        &-content{
            display: flex;
            flex-direction: column;
            padding-left: 35px;
        }
        &-head{
            font-family: $risque;
            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 49px;
            color: #fffF;
            padding-bottom: 29px;
        }
        &-text{
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 33px;
            color: #fffF;
            padding-right: 31px;
        }
        &-img{
            width: 148px;
            height: 256px;
            margin-right: 35px;
        }
    }
}
.writeus{
    width: 100%;
    background: url(../img/write-us-bg.png) center no-repeat;
    padding-top: 70px;
    padding-left: 45px;
    margin-top: -191px;
    &__row{
        display: flex;
        flex-direction: column;
    }
    &__head{
        font-family: $risque;
        font-style: normal;
        font-weight: normal;
        font-size: 56px;
        line-height: 65px;
        color: $white;
        padding-bottom: 29px;
    }
    &__form{
        width: 100%;
        display: flex;
        flex-direction: column;
        &-info,
        &-checkbox{
            display: flex;
            flex-direction: row;
        }
        &-name,
        &-contact{
            display: flex;
            flex-direction: column;
        }
        &-name{
            padding-right: 18px;
        }
        & input,
        textarea,
        select{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: $white;
            border: 3px solid $white;
            border-radius: 15px;
            background-color: transparent;
            padding: 15px 0 15px 22px;
            margin-bottom: 20px;
            &::placeholder{
                color: $white;
            }
        }
        & textarea{
            width: 32.5%;
        }
        & input:selected{
            background-color: transparent;
        }
        & select{
            cursor: pointer;
            & option{             
                color: #D02B2B;
            }
        }
        & textarea{

        }
        & input[type=checkbox]{      
            border-radius: 3px;
            background: transparent;
            border: 2px solid #D02B2B;
            margin-right: 7px;
        }
        & label{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: $white;
            color: #D02B2B;
            margin-top: -2px;
        }
    }
}
// Анимации
@keyframes main-snow{
    0%{
        transform: rotate(0deg);
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    50%{
        transform: rotate(180deg);
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    100%{
        transform: rotate(360deg);
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
}
// --
//--
@import "media";